@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Sorphirða</h1>
    <p>Finna <a href="~/Home/LookupAddress">Heimilisfang með innsláttarstuðningi</a>.</p>
    <p>Submit takki birtir niðurstöðu á vefsíðu en REST skilar JSON niðurstöðu sem hentar fyrir Javascript kall frá vefsíðu.</p>
</div>
